<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> OUTROS LIVROS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">

        <ion-card>
          <img
            src="https://a-static.mlcdn.com.br/1500x1500/box-livros-a-selecao-kiera-cass/magazineluiza/226157900/e2780161ee0a2d4becf732cdcb149edb.jpg"
            alt="" />
          <ion-card-content>
            <p><strong>Box seleção</strong></p>
            <p class="ion-text-right">
              <ion-badge color="dark">61,99</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <img src="https://www.docdroid.net/file/view/3JyJRWk/fahrenheit-451-pdf.jpg" alt="" />
          <ion-card-content>
            <p><strong>Fahrenheit 451</strong></p>
            <p class="ion-text-right">
              <ion-badge color="dark">25,40</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="6">

        <ion-card>
          <img src="https://th.bing.com/th/id/OIP.42Y5YbYyx45rjnVerS6xfQHaJ4?pid=ImgDet&w=1200&h=1600&rs=1" alt="" />
          <ion-card-content>
            <p><strong>A menina que roubava livros</strong></p>
            <p class="ion-text-right">
              <ion-badge color="dark">39,99</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>
