<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MAIS VENDIDOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<ion-searchbar placeholder="Filter Schedules"></ion-searchbar>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://livrariascuritiba.vteximg.com.br/arquivos/ids/1958325-1000-1000/6ff00bbb5ae6cd15195b844027e812e0-removebg-preview.jpg?v=637484079847700000">
  </ion-thumbnail>
  <ion-label>Box da Saga Crepúsculo </ion-label>
  <ion-badge color="dark">87,99</ion-badge>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://images-na.ssl-images-amazon.com/images/I/51grtVWQzIL._SY407_BO1,204,203,200_.jpg">
  </ion-thumbnail>
  <ion-label>Box da Saga Harry Potter </ion-label>
  <ion-badge color="dark">99,88</ion-badge>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41d3Xl4fSFS._SY498_BO1,204,203,200_.jpg">
  </ion-thumbnail>
  <ion-label>Box 1º Percy Jackson</ion-label>
  <ion-badge color="dark">72,99</ion-badge>
</ion-item>

</ion-content>
