<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="assets/img.jpg" alt="">

  <ion-card>

    <ion-card-header>
      <ion-card-title>Desenvolvido por </ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Robert Pattison</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>livrariapattison@gmail.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="link" slot="start"></ion-icon>
      <ion-label>www.portal-dos-livros.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>@ro_bertpattison</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="caret-forward" slot="start"></ion-icon>
      <ion-label>0.0.1</ion-label>
    </ion-item>

  </ion-card>

</ion-content>
